@media only screen and (max-width: 600px) {
  .p-0-150 {
    padding: 0px 10px;
  }
  .p-150-0 {
    padding: 10px 0px;
  }

  .container {
    margin: auto;
    padding: 50px 10px;
  }
  .btn-style {
    padding: 6px 12px;
  }

  .main-text-style {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    width: 100%;
    color: #475467;
  }

  .header-section {
    font-size: 30px;
  }

  .card-title {
    font-size: 16px;
  }

  nav.navbar {
    width: 100%;
    padding: 20px 10px;

    .nav-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .logo {
        font-size: 1.25rem;
        font-weight: 200;
        width: 100%;
        text-align: center;
        margin: 30px 0px;
      }

      .nav-links {
        width: 100%;
        justify-content: center;

        li a {
          padding: 8px 18px;
          width: 100%;
          font-size: small;
        }
      }
      .call-number {
        width: 100%;
        gap: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1.25rem 0px;
      }
    }
  }
}

main {
  #home {
    padding: 0px 10px;
    .home-text {
      width: 100%;

      h2 {
        font-size: 40px;
        width: 100%;
      }
    }
  }
  #trade {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    .trade-text {
      gap: 50px;
      width: 100%;
      order: 2;
    }

    .trade-image {
      width: 100%;

      .one {
        width: 70%;
        margin-left: auto;

        display: block;
        object-fit: cover;
        border-radius: 20px;
      }
      .two {
        width: 40%;
        position: absolute;
        bottom: 5%;
        left: 25%;
      }
    }
  }

  #power {
    padding: 0.8125rem;
    .header-power {
      width: 100%;
      text-align: left;
    }
  }

  #repairs {
    gap: 0.225rem;
    padding: 30px 5px;
    .bg-repairs {
      background-color: hsla(180, 9%, 2%, 0.455);
      padding: 10px;
    }
    p {
      line-height: normal;
      letter-spacing: normal;
      font-size: 10px;
      font-weight: 400;
    }
  }

  #energy {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    .text-energy {
      width: 80%;
    }
    .energy-cards {
      width: 100%;

      .energy-card {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
    }
  }
  #solar-kit {
    .card {
      width: calc(100% / 1- 30px);
    }
  }
  #about {
    .about-card-one {
      flex-direction: row;
      width: 100%;
    }
    .about-card-two {
      padding: 20px 0px;
      width: 100%;

      .width-70 {
        width: 80%;
      }

      .gap-50 {
        gap: 15px;
      }
      .width-20 {
        width: 10%;
      }

      .about-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        margin: 0px 0px;
        text-align: start;
      }
    }
  }
}

#footer {
  .container {
    display: flex;
    flex-direction: column;

    .contact {
      flex-direction: column;
      align-items: center;

      .conatact-link {
        width: 100%;
      }
      .conatact-form {
        width: 100%;
      }
    }
    .copy {
      flex-direction: column;

      ul {
        width: 100%;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        counter-reset: #b3bdc7;
        margin-bottom: 20px;
        li {
          border-right: 2px solid #55595d;
          padding: 2px 0px;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }

        ul {
          width: 100%;
        }
      }
    }
  }
}

/* Medium devices ( */

@media only screen and (min-width: 600px) {
  .p-0-150 {
    padding: 0px 20px !important;
  }
  .p-150-0 {
    padding: 20px 0px !important;
  }

  .container {
    margin: auto;
    padding: 50px 20px;
  }
  .btn-style {
    padding: 6px 12px;
  }

  .p-24 {
    padding: 24px;
  }
  .col-3 {
    width: calc(100% / 3 - 20px);
    /* overflow: hidden; */
    /* margin: 30px 0px 0px 0px; */
  }
  .col-2 {
    width: calc(100% / 2 - 15px);
  }

  .gap-20 {
    gap: 20px;
  }
  .gap-32 {
    gap: 25px;
  }

  .main-text-style {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 100%;
    color: #475467;
  }

  .header-section {
    font-size: 35px;
  }

  .card-title {
    font-size: 20px;
  }

  nav.navbar {
    width: 100%;
    padding: 20px 20px;

    .nav-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .logo {
        font-size: 1.25rem;
        font-weight: 200;
        width: 40%;
        margin: 30px 0px;
      }

      .nav-links {
        width: 100%;
        justify-content: center;

        li a {
          width: 100%;
        }
      }

      .call-number {
        width: 100%;
        gap: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1.25rem 0px;
      }
      .call-num-number {
        color: var(--main-text-color);
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.94px;
      }
    }
  }

  main {
    #home {
      padding: 0px 10px;
      .home-text {
        width: 100%;
      }
    }
    #trade {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      .trade-text {
        gap: 50px;
        width: 100%;
        order: 2;
      }

      .trade-image {
        width: 100%;

        .one {
          width: 70%;
          margin-left: auto;

          display: block;
          object-fit: cover;
          border-radius: 20px;
        }
        .two {
          width: 40%;
          position: absolute;
          bottom: 5%;
          left: 25%;
        }
      }
    }

    #power {
      padding: 0rem 9.375rem;
      .header-power {
        width: 80%;
        text-align: left;
      }
    }

    #repairs {
      padding: 30px 20px;
      .bg-repairs {
        margin: 2rem;
        background-color: hsla(180, 9%, 2%, 0.354);
        padding: 20px;
      }
      p {
        font-size: 12px;
        font-weight: 300;
      }
    }

    #energy {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 30px;
      .text-energy {
        width: 80%;
      }
      .energy-cards {
        width: 100%;

        .energy-card {
          margin-left: auto;
          margin-right: auto;
          width: 45%;
        }
      }
    }
    #solar-kit {
      h2 + p {
        padding: 0px 50px;
      }
      .card {
        width: calc(100% / 2 - 30px);
      }
    }
    #about {
      .about-card-one {
        flex-direction: row;
        width: 90%;
      }
      .about-card-two {
        padding: 20px 10px;
        width: 100%;

        .width-70 {
          width: 80%;
        }

        .gap-50 {
          gap: 15px;
        }
        .width-20 {
          width: 10%;
        }

        .about-text {
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          margin: 0px 0px;
          text-align: start;
        }
      }
    }
  }

  #footer {
    .container {
      display: flex;
      flex-direction: column;

      .contact {
        flex-direction: column;
        align-items: center;

        .conatact-link {
          width: 100%;
        }
        .conatact-form {
          width: 100%;
        }
      }
      .copy {
        flex-direction: column;

        ul {
          width: 100%;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .p-0-150 {
    padding: 0px 30px !important;
  }
  .p-150-0 {
    padding: 30px 0px !important;
  }

  .container {
    margin: auto;
    padding: 50px 30px;
  }
  .btn-style {
    padding: 6px 12px;
  }

  .p-24 {
    padding: 24px;
  }
  .col-3 {
    width: calc(100% / 3 - 20px);
    /* overflow: hidden; */
    /* margin: 30px 0px 0px 0px; */
  }
  .col-2 {
    width: calc(100% / 2 - 15px);
  }

  .gap-20 {
    gap: 20px;
  }
  .gap-32 {
    gap: 25px;
  }

  .main-text-style {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 100%;
    color: #475467;
  }

  .header-section {
    font-size: 35px;
  }

  .card-title {
    font-size: 20px;
  }

  nav.navbar {
    width: 100%;
    padding: 20px 30px;

    .nav-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .logo {
        font-size: 1rem;
        font-weight: 200;
        width: 20%;
        text-align: center;
        margin: 0px 0px;
      }

      .nav-links {
        width: 50%;

        li a {
          width: 100%;
          gap: 15px;
          font-size: 18px;
          padding: 8px 10px;
          font-weight: 400;
        }
      }

      .call-number {
        width: 30%;
        gap: 8px;
        flex-direction: column;
        align-items: end;
        .call-num-number {
          font-size: 20px;
        }
      }
    }
  }

  main {
    #home {
      padding: 0px 40px;
      .home-text {
        h2 {
          font-size: 3.25rem;
        }
        width: 90%;
      }
    }
    #trade {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      .trade-text {
        gap: 50px;
        width: 100%;
        order: 2;
      }

      .trade-image {
        width: 100%;

        .one {
          width: 70%;
          margin-left: auto;

          display: block;
          object-fit: cover;
          border-radius: 20px;
        }
        .two {
          width: 40%;
          position: absolute;
          bottom: 5%;
          left: 25%;
        }
      }
    }

    #power {
      .header-power {
        width: 80%;
        text-align: left;
      }
    }

    #repairs {
      padding: 30px 50px;
      .bg-repairs {
        margin: 1.5rem;
        background-color: hsla(180, 9%, 2%, 0.354);
        padding: 20px;
      }
      p {
        font-size: 12px;
        font-weight: 200;
      }
    }
    #solar-kit {
      h2 + p {
        padding: 0px 100px;
      }
    }
    #energy {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 30px;
      .text-energy {
        width: 80%;
      }
      .energy-cards {
        width: 100%;

        .energy-card {
          margin-left: auto;
          margin-right: auto;
          width: 45%;
        }
      }
    }
    #solar-kit {
      .card {
        width: calc(100% / 2 - 30px);
      }
    }
    #about {
      .about-card-one {
        flex-direction: row;
        width: 60%;
      }
      .about-card-two {
        padding: 20px 0px;
        width: 100%;
        h5 {
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          color: #3cab90;
        }

        .width-70 {
          width: 80%;
        }

        .gap-50 {
          gap: 15px;
        }
        .width-20 {
          width: 10%;
        }

        .about-text {
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          margin: 0px 0px;
          text-align: start;
        }
      }
    }
  }

  #footer {
    .container {
      flex-direction: column;

      .contact {
        flex-direction: row;
        align-items: end;

        .conatact-link {
          width: 50%;

          ul {
            margin: 2.5rem 0rem 0px;
          }
        }
        .conatact-form {
          width: 40%;
        }
      }
      .copy {
        flex-direction: column;

        ul {
          width: 60%;
          margin-bottom: 50px;
        }
      }
    }
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .p-0-150 {
    padding: 0px 50px !important;
  }
  .p-150-0 {
    padding: 50px 0px !important;
  }

  .container {
    margin: auto;
    padding: 50px 50px;
  }
  .btn-style {
    padding: 6px 12px;
  }

  .p-24 {
    padding: 24px;
  }
  .col-3 {
    width: calc(100% / 3 - 20px);
    /* overflow: hidden; */
    /* margin: 30px 0px 0px 0px; */
  }
  .col-2 {
    width: calc(100% / 2 - 15px);
  }

  .gap-20 {
    gap: 20px;
  }
  .gap-32 {
    gap: 25px;
  }

  .main-text-style {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 100%;
    color: #475467;
  }

  .header-section {
    font-size: 40px;
  }

  .card-title {
    font-size: 24px;
  }

  nav.navbar {
    width: 100%;
    padding: 16px 30px;
    .nav-container {
      align-items: center;
      .logo {
        width: 25%;
      }

      .nav-links {
        width: 50%;

        li a {
          width: 100%;
          gap: 15px;
          font-size: 18px;
          padding: 8px 20px;
          font-weight: 500;
        }
      }
      .call-number {
        width: 30%;
        gap: 8px;
        flex-direction: column;
        align-items: end;
        margin: 0rem;

        .call-num-number {
          font-size: 24px;
        }
      }
    }
  }

  main {
    #home {
      padding: 0px 40px;
      .home-text {
        width: 80%;
      }
    }

    #trade {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      .trade-text {
        gap: 50px;
        width: 60%;
        order: 0;
      }

      .trade-image {
        width: 30%;

        .one {
          width: 100%;
          margin-left: auto;
          display: block;
          object-fit: cover;
          border-radius: 20px;
        }
        .two {
          width: 50%;
          position: absolute;
          bottom: 40%;
          left: -10%;
        }
      }
    }

    #power {
      .header-power {
        width: 90%;
        text-align: left;
      }
    }

    #repairs {
      padding: 30px 15px;
      .bg-repairs {
        margin: 2rem;
        background-color: hsla(180, 9%, 2%, 0.354);
        padding: 10px;
      }
      p {
        font-size: 12px;
        font-weight: 100;
      }
    }

    #energy {
      display: flex;

      width: 100%;
      gap: 20px;
      .text-energy {
        width: 35%;
      }
      .energy-cards {
        width: 60%;

        .energy-card {
          width: 100%;
        }
      }
    }
    #solar-kit {
      .card {
        width: calc(100% / 3 - 10px);
      }
    }
    #about {
      .about-card-two {
        padding: 20px 0px;
        width: 100%;
        h5 {
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          color: #3cab90;
        }

        .width-70 {
          width: 80% !important;
        }

        .gap-50 {
          gap: 15px;
        }
        .width-20 {
          width: 10% !important;
        }

        .about-text {
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          margin: 0px 0px;
          text-align: start;
        }
      }
    }
  }

  #footer {
    .container {
      .contact {
        .conatact-link {
          width: 50%;
        }
        .conatact-form {
          width: 40%;
        }
      }
      .copy {
        flex-direction: row;

        ul {
          width: 50%;
          margin-bottom: 0px;
        }
      }
    }
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .p-0-150 {
    padding: 0px 150px !important;
  }
  .p-150-0 {
    padding: 150px 0px !important;
  }

  .container {
    margin: auto;
    padding: 80px 150px;
  }
  .btn-style {
    padding: 6px 12px;
  }

  .p-24 {
    padding: 24px;
  }

  .gap-20 {
    gap: 20px;
  }
  .gap-32 {
    gap: 25px;
  }

  .main-text-style {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 100%;
    color: #475467;
  }

  .header-section {
    font-size: 52px;
  }

  .card-title {
    font-size: 24px;
  }

  nav.navbar {
    width: 100%;
    padding: 20px 150px;

    .nav-container {
      .logo {
        width: 20%;
      }

      .nav-links {
        width: 60%;

        li a {
          width: 100%;
          margin: 0;
        }
      }
    }
  }

  main {
    #home {
      padding: 20px 150px;
      .home-text {
        width: 60%;
      }
    }
    #trade {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      .trade-text {
        gap: 50px;
        width: 60%;
        order: 0;
      }

      .trade-image {
        width: 35%;

        .one {
          width: 100%;
          margin-left: auto;
          display: block;
          object-fit: cover;
          border-radius: 20px;
        }
        .two {
          width: 60%;
          position: absolute;
          bottom: 5%;
          left: -10%;
        }
      }
    }
    #power {
      .header-power {
        width: 90%;
        text-align: left;
      }
    }

    #repairs {
      padding: 30px 300px;
      .bg-repairs {
        margin: 2rem;
        background-color: hsla(180, 9%, 2%, 0.354);
        padding: 20px;
      }
      p {
        font-size: 12px;
        font-weight: 100;
      }
    }
    #solar-kit {
      .card {
        width: calc(100% / 3 - 10px);
      }
    }
    #energy {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 30px;
      .text-energy {
        width: 37%;
      }
      .energy-cards {
        width: 60%;
        gap: 20px;
        justify-content: space-between;
        .energy-card {
          width: 47%;
        }
      }
    }
    #solar-kit {
      h2 + p {
        padding: 0px 150px;
      }
    }
    #about {
      display: flex;
      flex-wrap: wrap;
      .about-card-one {
        padding: 20px;
        flex-direction: column;
        width: 40%;
      }

      .about-card-two {
        padding: 20px 0px;
        width: 55%;
        justify-content: end;
        h5 {
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          color: #3cab90;
        }

        .width-70 {
          width: 80%;
        }

        .gap-50 {
          gap: 15px;
        }
        .width-20 {
          width: 10%;
        }

        .about-text {
          font-size: 24px;
          font-weight: 400;
          line-height: 140%;
          margin: 0px 0px;
          text-align: start;
        }
      }
    }
  }

  #footer {
    .container {
      .contact {
        .conatact-link {
          width: 50%;
        }
        .conatact-form {
          width: 30%;
        }
      }
      .copy {
        ul {
          width: 45%;
        }
      }
    }
  }
}
