@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --main-color: #0b9586;
  --main-color-light: #3be0cd;
  --main-text-color: #ffffff;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  --font-two: "Comic Relief", system-ui;

  background-color: #f9fcfd;
  line-height: 100%;
  font-size: 18px;
  overflow: auto;
}
.p-0-150 {
  padding: 0px 150px !important;
}
.p-150-0 {
  padding: 150px 0px !important;
}

.container {
  margin: auto;
  padding: 80px 150px;
}
.btn-style {
  padding: 12px 34px;
  border-radius: 109px;
  gap: 10px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 8%;
}

.p-24 {
  padding: 24px;
}
.col-3 {
  width: calc(100% / 3 - 20px);
  overflow: hidden;
  margin: 30px 0px 0px 0px;
}
.col-2 {
  width: calc(100% / 2 - 30px);
}
.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 23px;
  flex-wrap: wrap;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}
.gap-20 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}

.align-start {
  text-align: start !important;
}
.main-text-style {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  width: 100%;
  color: #475467;
}
.btn {
  padding: 12px 34px;
  border-radius: 109px;
  gap: 10px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 8%;
  background-color: #ffbb1c;
}
.card-imgg {
  width: 70px;
  height: 70px;
}
img {
  transition: all 0.4s;
}
.header-section {
  font-weight: 600;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 1px;
  width: 100%;
  color: #101828;
  text-align: center;
}
p + a {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s;
  &:hover {
    color: var(--main-color-light);
  }
}
.card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}

.card-title span {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #84bd3a;
  letter-spacing: 4px;
  font-family: var(--font-two);
}

nav.navbar {
  width: 100%;
  background-color: var(--main-color);
  color: #ffffff;
  padding: 16px 150px;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 20%;
    }
    .nav-links {
      width: 50%;
      display: flex;
      list-style: none;
      color: var(--main-text-color);
      font-weight: 500;
      background-color: transparent;

      li a {
        text-decoration: none;
        color: var(--main-text-color);
        padding: 8px 22px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.94px;
        line-height: 100%;
        transition: all 0.3s;
        gap: 10px;
        border-radius: 5px;
        border-bottom: 3px solid transparent;

        &:hover {
          font-weight: 600;
          background-color: #0000000f;
          border-bottom: 3px solid #0000004d;

          /* background-color:#0b6359  ; */
          /* border-bottom: 3px solid #0b6359;  */
          /* box-shadow: 1px 4px 1px 1px #065249; */
        }
      }
    }

    .call-number {
      width: 30%;
      gap: 4px;
      display: flex;
      flex-direction: column;
      align-items: end;
      color: var(--main-text-color);
      .call-num-text {
        color: var(--main-text-color);
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0.94px;
      }
      .call-num-number {
        color: var(--main-text-color);
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.94px;
      }
    }
  }
}

main {
  #home {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/solar-panels-meadow\ 1.png);
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0px 150px;
    display: flex;
    align-items: center;
    .home-text {
      color: var(--main-text-color);
      width: 70%;
      display: flex;

      flex-direction: column;
      gap: 24px;
      h2 {
        font-size: 52px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 2px;
      }
      p {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 1px;
      }
    }
    .home-buttons {
      display: flex;
      gap: 24px;
      .btn-1 {
        background-color: var(--main-color-light);
        color: var(--main-text-color);
        transition: all 0.5s;

        &:hover {
          color: #ffffff;
          background-color: #08bba6;
          box-shadow: 1px 1px 2px 1px #7bfff0;
        }
      }
      .btn-2 {
        background-color: #ffbb1c;
        color: rgba(0, 0, 0, 0.815);
        transition: all 0.3s;

        &:hover {
          color: #ffffff;
          background-color: #ecaa10;
          box-shadow: 1px 1px 2px 1px #ffd779;
        }
      }
    }
  }

  #trade {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    .trade-text {
      gap: 50px;
      width: 55%;

      .header-section {
        text-align: start;
      }
      .trade-line {
        gap: 12px;
      }
    }

    .trade-image {
      width: 30%;
      position: relative;
      /* background-image: url(../images/Rectangle\ 30.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 20px; */
      .one {
        width: 0%;
        margin-left: auto;

        display: block;
        object-fit: cover;
        border-radius: 20px;
      }
      .two {
        width: 40%;
        position: absolute;
        bottom: 5%;
        left: -10%;
      }
    }
  }

  #power {
    background-image: url(../images/8116\ 1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 505px;
    width: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    .power {
      padding-right: 20px;
      width: 680px;
      gap: 32px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .header-power {
        color: var(--main-text-color) !important;
        letter-spacing: 0.5px;
      }

      color: var(--main-text-color) !important;
    }
    .text-power {
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0%;

      p {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: left;
      }
    }
  }

  #solar-kit {
    width: 100%;
    overflow: hidden;
    margin: auto;
    h2 + p {
      text-align: center;
      margin-top: 16px;
    }

    .solar-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
      gap: 0px;
    }
    .card {
      width: 100%;
      background-color: white;
      overflow: hidden;
      border-radius: 5px;
      .card-image {
        width: 100%;

        border: none;
        object-fit: cover;
      }
    }
    .card-text {
      padding: 20px;
      gap: 24px;
    }
  }

  #repairs {
    background-image: url(../images/desktopbg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 505px;
    width: 100%;
    padding: 80px 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    .bg-repairs {
      background-color: hsla(180, 9%, 2%, 0.354);
      padding: 44px;
      text-align: center;
      border-radius: 12px;
      backdrop-filter: blur(24px);
      overflow: hidden;
      .repairs-section {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        justify-content: center;
      }
      h2,
      p {
        color: var(--main-text-color);
      }
      p {
        font-size: 20px;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: 0%;
        word-spacing: 3px;
        margin: 0.625rem;
      }
    }
  }
  .border-green {
    border: 2px solid var(--main-color);
    border-radius: 12px;
    padding: 24px;
    background-color: #ffffff;
    transition: all 0.5s;

    &:hover {
      background-color: #ffffff;
      box-shadow: 0px 0px 2px 1px #18dfc8;
      border: 2px solid #05a895;
    }
    overflow: hidden;
    &:hover img {
      transform: scale(1.1);
    }
  }

  #energy {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    justify-content: space-between;
    .text-energy {
      width: 35%;
      .text-energy > img {
        width: 56px;
        height: 56px;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .energy-cards {
      width: 62%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .energy-card {
        width: 47%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        justify-content: space-between;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  #about {
    .gap-87 {
      gap: 87px;
    }

    .about-card-one {
      padding: 20px;
      width: 30%;
      flex-direction: column;
    }
    .about-card-two {
      padding: 20px;

      width: 60%;
      h5 {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #3cab90;
      }

      .width-70 {
        width: 70% !important;
      }

      .gap-50 {
        gap: 52px;
      }
      .width-20 {
        width: 20%;
      }

      .about-text {
        font-size: 24px;
        font-weight: 400;
        line-height: 150%;
        margin: 20px 5px;
        text-align: justify;
      }

      .product-designer {
        align-items: center;

        a {
          text-decoration: none;
          color: #101828;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: solid 2px black;
          transition: all 0.4s;
          &:hover {
            background-color: #05a895;
            color: white;
            border: white;
          }
        }
      }
    }
  }
}

#footer {
  background: #283646;
  color: #fff;
  font-size: 16px;
  .container {
    display: flex;
    flex-direction: column;

    .contact {
      padding-bottom: 3.125rem;
      display: flex;
      justify-content: space-between;
      align-items: end;
      flex-wrap: wrap;
      .conatact-link {
        width: 50%;
        ul {
          list-style: none;
          display: flex;

          align-items: center;
          justify-content: space-between;
          margin: 2.5rem 0rem;
          font-weight: 300;
          cursor: pointer;
        }
      }
      .conatact-form {
        width: 30%;
        form {
          width: 100%;
          margin-top: 20px;
          position: relative;

          input {
            padding: 11px;
            width: 100%;
            height: 100%;
            background: #ffffff17;
            border: 1px solid #b3bdc7;
            color: #b3bdc7;
            border-radius: 20px;
            place-content: #b3bdc7;
            &:focus-visible {
              outline: offset 0px;
              outline: auto 1px;
            }
          }
          button {
            position: absolute;
            top: 0%;
            right: 0%;
            background-color: #ffbb1c;
            text-transform: capitalize;
            &:hover {
              background-color: #f99305;
              color: #fcfcfc;
              font-weight: 500;
            }
          }
        }
      }
    }
    .copy {
      font-size: 14px;
      padding-top: 3.125rem;
      border-top: 0.125rem solid #55595d;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #b7bdc3;

      ul {
        width: 45%;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        counter-reset: #b3bdc7;
        margin-bottom: 20px;
        li {
          border-right: 2px solid #55595d;
          padding: 2px;
          padding-right: 1.3125rem;
          padding-left: 1.3125rem;
        }
      }
    }
  }
}
